/*Reset*/
h2, h3, h4, h5, h6, span {
    margin: 0.75rem 0;
}

/*Universal*/
html {
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    font-family: serif;
}

body {
    margin: 0;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}

/*Screen Dividers*/
.half {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left {
    float: left;
    background-color: #90EE90;
}

#right {
    float: right;
    background-color: #ccfff9;
}

/*Left*/
#left h1 {
    margin: 5%;
    font-family: 'Vesper Libre', serif;
}

button {
    padding: 10px;
    max-width: fit-content;
    border-radius: 10px;
    font-weight: bold;
}

/*Right*/
#story {
    display: none;
    margin: 5%;
    flex-direction: column;
}

#story h3,
#story h4 {
    font-family: 'Vesper Libre', serif;
}
